@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
	font-family: "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
	padding: 0;
	margin: 0;
	height: 100dvh;
	width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.wrapper.landing-bg {
	background: rgba(0, 0, 0, 0.5);
}

.wrapper.about-bg {
	background: url("images/about-bg-blur.jpg");
    background-position: center;
    background-size: cover;
}

.wrapper.series-bg {
	background: #0f0f0f;
}

.wrapper.staffs-bg {
	background: #0D0D0D;
}

.background-dim {
	pointer-events: none;
    transition: .5s;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100dvh;
	position: absolute;
	z-index: 9;
}

.background-dim.dim {
    background: rgba(0, 0, 0, 1);
}

.landing-videobg {
	background: black;
    z-index: -1;
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    display: flex;
}
.landing-videobg > video {
	width: 100%;
}
.landing-content {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}
.landing-content > .landing-desc {
	margin: 0 0 14px 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 12px;
    font-size: 22px;
}
.landing-content > .landing-logo {
	width: 458px;
    height: 143px;
}


.sticky-menu {
    width: auto;
    height: 100px;
    position: sticky;
	z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.15);
}

.sticky-menu > .logo {
	width: 264px;
	height: 100%;
}

.sticky-menu > .logo > img {
	margin: 28.43px 57px;
	width: 150px;
	height: 42.16px;
}

.button-group {
	display: flex;
}
.button-group.standalone {
	height: 100px;
	margin-top: 24px;
}

.button-group > .button {
    background: transparent;
	width: 191px;
    color: white;
    border: 0;
    font-size: medium;
	transition: 0.1s;
	text-align: center;
	line-height: 100px;
	text-decoration: none;
}

.button-group > .button:hover {
    background: rgba(255, 255, 255, 0.05);
}

.button-group > .button.selected {
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 4.48px solid #BE2222;
}

.about-content {
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-between;
    height: calc(100dvh - 100px);
}
.about-content > .info {
    max-width: 684px;
    margin-left: 56px;
}
.about-content > .info > h1 {
    color: white;
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 36px;
}
.about-content > .info > p {
    color: white;
    margin: 24px 0px;
    line-height: 170%;
    font-size: 20px;
}
.about-content > .info > * {
	animation-name: fadein;
}
.about-content > .info > *:nth-child(1) {
	animation-duration: 0.75s;
}
.about-content > .info > *:nth-child(2) {
	animation-duration: 1s;
}
.about-content > .info > *:nth-child(3) {
	animation-duration: 1.25s;
}
.about-content > .info > .critics {
	
}
.about-content > .info > .critics > .item {
    display: flex;
    align-items: center;
}
.about-content > .info > .critics > .item > div {
    width: 56px;
    height: 32px;
    display: flex;
    justify-content: flex-end;
    margin-right: 28px;
}
.about-content > .info > .critics > .item > div > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.about-content > .info > .critics > .item > p {
    color: white;
}
.about-content > .imagecontent {
    max-width: 840px;
    max-height: 546px;
	animation-name: fadein;
	animation-duration: 1.5s;
}
.about-content > .imagecontent > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.series-collection {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: calc(100dvh - 100px);
}
.series-collection > * {
	animation-name: fadein;
}
.series-collection > *:nth-child(1) {
	animation-duration: 1.5s;
}
.series-collection > *:nth-child(2) {
	animation-duration: 1.25s;
}
.series-collection > *:nth-child(3) {
	animation-duration: 1s;
}
.series-collection > *:nth-child(4) {
	animation-duration: 0.75s;
}
.series-collection > .item {
	margin: 0px 18px;
	cursor: pointer;
}
.series-collection > .item > img {
	max-width: 346px;
    max-height: 511px;
}
.series-collection > .item > p {
	color: white;
    text-align: center;
    margin: 18px 0px 0px 0px;
	font-weight: 500;
}
.series-collection > .item > p > span {
	font-weight: 200;
}



.series-info-dialog {
    position: absolute;
    top: 100px;
    height: calc(100dvh - 100px);
    width: 100dvw;
    backdrop-filter: blur(8px);
    display: none;
	opacity: 0;
}
.series-info-dialog.hide {
	animation-name: dialog-fadeout;
	animation-duration: 0.25s;
    display: none;
	opacity: 0;
}
.series-info-dialog.show {
	animation-name: dialog-fadein;
	animation-duration: 0.25s;
    display: flex;
	opacity: 1;
}

.series-info-dialog > .content {
    background: #0f0f0fcc;
    color: white;
    width: 100dvw;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.series-info-dialog > .content > .top {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 52px;
}
.series-info-dialog > .content > .top > button {
    width: 120px;
    filter: invert(1);
    border: none;
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #000000AB;
	cursor: pointer;
}
.series-info-dialog > .content > .top > button > img {
	width: 36px;
    height: 36px;
}

.series-info-dialog > .content > .info {
    display: flex;
    margin: 0px 52px;
    justify-content: flex-start;
}
.series-info-dialog > .content > .info > .poster {
    margin: 52px;
}

.series-info-dialog > .content > .info > .poster > img {
    width: 394px;
    height: 582px;
}
.series-info-dialog > .content > .info > .poster > button {
    width: 394px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #BE2222;
    color: white;
    border: 0;
    cursor: pointer;
	font-size: 18px;
}
.series-info-dialog > .content > .info > .poster > button > img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.series-info-dialog > .content > .info > .details {
    margin: 52px 52px 52px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.series-info-dialog > .content > .info > .details > h1 {
	
}
.series-info-dialog > .content > .info > .details > p {
    line-height: 1.4rem;
}

.series-info-table {
    line-height: 1.5rem;
    vertical-align: top;
}
.series-info-table > tbody tr > *:nth-child(1) {
	text-align: left;
    vertical-align: top;
	font-weight: 600;
	color: white;
    border-right: 16px solid transparent;
}
.series-info-table > tbody tr > *:nth-child(2) {
    text-align: left;
    vertical-align: top;
	font-weight: 600;
	color: #ffffff88;
}


.staff-subsection {
    margin: 64px;
}
.staff-subsection > h2 {
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 32px;
}
.staff-subsection > .collection {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
.staff-subsection > .collection > * {
	animation-name: fadein;
}
.staff-subsection > .collection > *:nth-child(1) {
	animation-duration: 0.75s;
}
.staff-subsection > .collection > *:nth-child(2) {
	animation-duration: 1s;
}
.staff-subsection > .collection > *:nth-child(3) {
	animation-duration: 1.25s;
}
.staff-subsection > .collection > *:nth-child(4) {
	animation-duration: 1.5s;
}
.staff-subsection > .collection > *:nth-child(5) {
	animation-duration: 1.75s;
}
.staff-subsection > .collection > *:nth-child(6) {
	animation-duration: 2s;
}
.staff-subsection > .collection > .item {
    margin-right: 60px;
	cursor: pointer;
}
.staff-subsection > .collection > .item > img {
	transition: 0.5s;
	width: 170px;
	height: 170px;
}
.staff-subsection > .collection > .item > p {
    color: white;
    font-weight: 500;
    margin: 8px 0px;
    font-size: 22px;
}
.staff-subsection > .collection > .item > span {
    color: #6e6e6e;
    font-size: 18px;
}

.staff-info-dialog {
    position: absolute;
    top: 100px;
    height: calc(100dvh - 100px);
    width: 100dvw;
    backdrop-filter: blur(8px);
    display: none;
    align-items: center;
    justify-content: center;
	opacity: 0;
}
.staff-info-dialog.hide {
	animation-name: dialog-fadeout;
	animation-duration: 0.25s;
    display: none;
	opacity: 0;
}
.staff-info-dialog.show {
	animation-name: dialog-fadein;
	animation-duration: 0.25s;
    display: flex;
	opacity: 1;
}

.staff-info-dialog > .content {
    background: #BE2222DD;
    color: white;
    padding: 20px 10px;
    border-radius: 20px;
}

.staff-info-dialog > .content > .top {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 24px;
}

.staff-info-dialog > .content > .top > h1 {
	font-size: 28px;
    font-weight: 600;
    margin: 0;
}
.staff-info-dialog > .content > .top > button {
	width: 2rem;
    height: 2rem;
    background: url("../assets/images/close.svg");
    filter: invert(1);
    border: none;
	cursor: pointer;
}

.staff-info-dialog > .content > .info {
	display: flex;
}

.staff-info-dialog > .content > .info > *:nth-child(1) {
	width: 284px;
	height: 284px;
	margin: 20px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 8px #00000055);
}

.staff-info-dialog > .content > .info > *:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.staff-info-dialog > .content > .info > *:nth-child(2) > h1 {
	font-weight: bold;
    margin: 0px;
}

.staff-info-dialog > .content > .info > *:nth-child(2) > h1 > span {
	font-weight: 500;
    color: #FFFFFF50;
    font-size: 24px;
    margin-left: 8px;
}

.staff-info-table {
    line-height: 1.5rem;
    vertical-align: top;
}
.staff-info-table > tbody tr > *:nth-child(1) {
	text-align: end;
    vertical-align: top;
	font-weight: 600;
	color: white;
    border-right: 16px solid transparent;
}
.staff-info-table > tbody tr > *:nth-child(2) {
    text-align: left;
    vertical-align: top;
	font-weight: 600;
	color: #ffffff88;
}



@keyframes fadein {
    0% {
		opacity: 0;
	}
	50% {
	    opacity: 0;
	}
    100% {
	    opacity: 1;
	}
}

@keyframes dialog-fadein {
    0% {
		display: none;
		opacity: 0;
	}
    100% {
		display: flex;
	    opacity: 1;
	}
}

@keyframes dialog-fadeout {
    0% {
		display: flex;
		opacity: 1;
	}
    100% {
		display: none;
	    opacity: 0;
	}
}

@media screen and (max-width: 1600px) {
	.about-content {
		flex-direction: column;
		justify-content: space-around;
	}
	
	.about-content > .info {
		margin-left: 0px;
	}
	.about-content > .imagecontent {
		max-height: 360px;
	}
	
	.series-collection > .item > img {
		max-width: 346px;
		max-height: 420px;
	}

	.staff-subsection > .collection > .item > img {
		width: 140px;
		height: 140px;
	}
}