@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
	font-family: "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
	padding: 0;
	margin: 0;
	height: 100dvh;
	width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.wrapper.landing-bg {
	background: url("images/landing-bg.jpg");
    background-position: center;
    background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.wrapper.about-bg {
	background: url("images/about-bg-blur.jpg");
    background-position: center;
    background-size: cover;
}

.wrapper.series-bg {
	background: #0f0f0f;
}

.wrapper.staffs-bg {
	background: #0D0D0D;
}

.background-dim {
    transition: .5s;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100dvh;
	position: absolute;
	z-index: 9;
}

.background-dim.dim {
    background: rgba(0, 0, 0, 1);
}

.landing-bg > .landing-desc {
	margin: 0 0 14px 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 12px;
    font-size: 22px;
}
.landing-bg > .landing-logo {
	width: 458px;
    height: 143px;
}


.sticky-menu {
    width: auto;
    height: 100px;
    position: sticky;
	z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.15);
}

.sticky-menu > .logo {
	width: 264px;
	height: 100%;
}

.sticky-menu > .logo > img {
	margin: 28.43px 57px;
	width: 150px;
	height: 42.16px;
}

.button-group {
	display: flex;
}
.button-group.standalone {
	height: 100px;
	margin-top: 24px;
}

.button-group > .button {
    background: transparent;
	width: 191px;
    color: white;
    border: 0;
    font-size: medium;
	transition: 0.1s;
	text-align: center;
	line-height: 100px;
	text-decoration: none;
}

.button-group > .button:hover {
    background: rgba(255, 255, 255, 0.05);
}

.button-group > .button.selected {
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 4.48px solid #BE2222;
}

.about-content {
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-between;
    height: calc(100dvh - 100px);
}
.about-content > .info {
    max-width: 684px;
    margin-left: 56px;
}
.about-content > .info > h1 {
    color: white;
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 36px;
}
.about-content > .info > p {
    color: white;
    margin: 24px 0px;
    line-height: 170%;
    font-size: 20px;
}
.about-content > .info > * {
	animation-name: fadein;
}
.about-content > .info > *:nth-child(1) {
	animation-duration: 0.75s;
}
.about-content > .info > *:nth-child(2) {
	animation-duration: 1s;
}
.about-content > .info > *:nth-child(3) {
	animation-duration: 1.25s;
}
.about-content > .info > .critics {
	
}
.about-content > .info > .critics > .item {
    display: flex;
    align-items: center;
}
.about-content > .info > .critics > .item > div {
    width: 56px;
    height: 32px;
    display: flex;
    justify-content: flex-end;
    margin-right: 28px;
}
.about-content > .info > .critics > .item > div > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.about-content > .info > .critics > .item > p {
    color: white;
}
.about-content > .imagecontent {
    max-width: 840px;
    max-height: 546px;
	animation-name: fadein;
	animation-duration: 1.5s;
}
.about-content > .imagecontent > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.series-collection {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: calc(100dvh - 100px);
}
.series-collection > * {
	animation-name: fadein;
}
.series-collection > *:nth-child(1) {
	animation-duration: 1.5s;
}
.series-collection > *:nth-child(2) {
	animation-duration: 1.25s;
}
.series-collection > *:nth-child(3) {
	animation-duration: 1s;
}
.series-collection > *:nth-child(4) {
	animation-duration: 0.75s;
}
.series-collection > .item {
	margin: 0px 18px;
}
.series-collection > .item > img {
	max-width: 346px;
    max-height: 511px;
}
.series-collection > .item > p {
	color: white;
    text-align: center;
    margin: 18px 0px 0px 0px;
	font-weight: 500;
}
.series-collection > .item > p > span {
	font-weight: 200;
}

.staff-subsection {
    margin: 64px;
}
.staff-subsection > h2 {
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 32px;
}
.staff-subsection > .collection {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
.staff-subsection > .collection > * {
	animation-name: fadein;
}
.staff-subsection > .collection > *:nth-child(1) {
	animation-duration: 0.75s;
}
.staff-subsection > .collection > *:nth-child(2) {
	animation-duration: 1s;
}
.staff-subsection > .collection > *:nth-child(3) {
	animation-duration: 1.25s;
}
.staff-subsection > .collection > *:nth-child(4) {
	animation-duration: 1.5s;
}
.staff-subsection > .collection > *:nth-child(5) {
	animation-duration: 1.75s;
}
.staff-subsection > .collection > *:nth-child(6) {
	animation-duration: 2s;
}
.staff-subsection > .collection > .item {
    margin-right: 60px;
}
.staff-subsection > .collection > .item > img {
	transition: 0.5s;
	width: 170px;
	height: 170px;
}
.staff-subsection > .collection > .item > p {
    color: white;
    font-weight: 500;
    margin: 8px 0px;
    font-size: 22px;
}
.staff-subsection > .collection > .item > span {
    color: #6e6e6e;
    font-size: 18px;
}

@keyframes fadein {
    0% {
		opacity: 0;
	}
	50% {
	    opacity: 0;
	}
    100% {
	    opacity: 1;
	}
}

@media screen and (max-width: 1600px) {
	.about-content {
		flex-direction: column;
		justify-content: space-around;
	}
	
	.about-content > .info {
		margin-left: 0px;
	}
	.about-content > .imagecontent {
		max-height: 360px;
	}
	
	.series-collection > .item > img {
		max-width: 346px;
		max-height: 420px;
	}

	.staff-subsection > .collection > .item > img {
		width: 140px;
		height: 140px;
	}
}